<div class="homelist">
  <div class="homelist__li" *ngFor="let homeLi of listData;let i = index;" (click)="hrefDetailsFun(homeLi);">
    <div class="homelist__liMask">
      <img [src]="homeLi.images" alt="活动图片" />
    </div>
    <div class="homelist__liContent" [ngStyle]="{'background-color':'rgba(' + homeLi.color + ',0.5)'}">
      <div class="homelist__Header">
        <h4 class="cssa25592c5f177a3"><span>{{ homeLi.cls }}</span>{{ homeLi.user }}</h4>
        <a class="homelist__HeaderAbtn cssa25592c5f177a3" 
           [ngStyle]="{'background':'linear-gradient(90deg,rgba('+homeLi.color+',1),rgba('+homeLi.color+',0.2))'}">
           follow
        </a>
      </div>
      <div class="homelist__content">
        <h3>{{ homeLi.name }}</h3>
        <p>{{ homeLi.target }}</p>
      </div>
    </div>
  </div>
</div>