/*
*   create by xiaofeng.yao
*   time 2017.05.13
*   login.component.html
*/
.login{
    width: 100%;
    height: 100%;
    position:relative;
    overflow:hidden;
    h1{
        width: 100%;
        position: absolute;
        top:18%;
        z-index:2;
        text-align:center;
        font-size:2.8rem;
        animation:loginHanima 7s infinite;
    }
    @keyframes loginHanima{
        0%{color:#fff;}
        25%{color:antiquewhite;}
        50%{color:darkgoldenrod;}
        75%{color:yellow;}
        100%{color:violet;}
    }
    .login__mask{
        position: absolute;
        z-index:1;
        width:100%;
        height:100%;
        background:url('../../../images/loginbg.jpg')no-repeat;
        background-size:cover;
        filter:blur(15px);
    }
    .login__form{
        width:85%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index:2;
        padding: 1rem;
        transition:0.7s;
        padding-top: 12rem;
        .input-group{
            margin-top:1rem;
            span{
                background: transparent;
                border:none;
                color:#fff;
                border-right: none;
            }
            input{
                background: transparent;
                border:none;
                border-bottom:1px solid #fff;
                color:#fff;
            }
            input::-webkit-input-placeholder{
                color:#fff !important;
            }
            input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
                color:#fff !important;
            } 
            input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
                color:#fff !important;
            } 
            input::-ms-input-placeholder { /* Internet Explorer 10+ */ 
                color:#fff !important;
            }
            &:nth-child(2){
                margin-top: 3rem;
            }
        }
        .btn_login{
            a{
                display: block;
                width: 100%;
                text-align: center;
                line-height: 4rem;
                background-color: #50c5ae;
                color:#fff;
                margin-top: 6rem;
                font-size: 1.2rem;
            }
        }
        .btn_register{
            a{
                display: block;
                width: 100%;
                text-align: center;
                line-height: 4rem;
                background-color: #ddd;
                color:#fff;
                margin-top: 1rem;
                font-size: 1.2rem;
            }
        }
    }
    .login__form--active{
        transform: translateX(-200%);
    }
    .register__form{
        width:85%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index:2;
        padding: 1rem;
        transition:0.7s;
        padding-top: 12rem;
        .input-group{
            margin-top:1rem;
            span{
                background: transparent;
                border:none;
                color:#fff;
                border-right: none;
            }
            input{
                background: transparent;
                border:none;
                border-bottom: 1px solid #fff;
                color:#fff;
            }
            input::-webkit-input-placeholder{
                color:#fff !important;
            }
            input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
                color:#fff !important;
            } 
            input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
                color:#fff !important;
            } 
            input::-ms-input-placeholder { /* Internet Explorer 10+ */ 
                color:#fff !important;
            }
            &:nth-child(2){
                margin-top:2rem;
            }
            &:nth-child(3){
                margin-top:2rem;
            }
        }
        .btn_login{
            a{
                display: block;
                width: 100%;
                text-align: center;
                line-height: 4rem;
                background-color: #50c5ae;
                color:#fff;
                margin-top: 6rem;
                font-size: 1.2rem;
            }
        }
        .btn_register{
            a{
                display: block;
                width: 100%;
                text-align: center;
                line-height: 4rem;
                background-color: #ddd;
                color:#fff;
                margin-top: 1rem;
                font-size: 1.2rem;
            }
        }
    }
    .register__form--active{
        transform: translateX(200%);
    }

    .register__hrefHome{
        position: absolute;
        bottom:0;
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        z-index: 9;
        a{
            color: #eceeef;
        }
    }
}