/*
*   2017.05.16
*   xiaofeng.yao
*   自定义弹窗提示组件
*/

.MyBadGirlAlert{
    width: 90%;
    height: 3.5rem;
    line-height: 3.5rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 12;
    color: #fff;
    padding: 0 1rem;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    transition:0.7s;
}
.successAlert{
    background-color:#83d483;
    box-shadow: 0px 0px 10px 2px #83d483;
}
.dangerAlert{
    background-color:#f5a09a;
    box-shadow: 0px 0px 10px 2px #f5a09a;
}
.warningAlert{
    background-color:#e8c851;
    box-shadow: 0px 0px 10px 2px #e8c851;
}
.alertShow{
    //top: 0;
}