<!-- home aside nav -->
<div class="homeAsideNav">
  <div class="asidenav__header">
    <!-- face -->
    <div class="av_face">
      <img [src]="user.img" alt="face"/>
    </div>
    <h3 class="cssa25592c5f177a3">{{ user.name }}</h3>
    <div class="user__info">
      <div class="user__infoJoin">
        <p>参加</p>
        <h3 class="cssa25592c5f177a3">{{ user.joinSum }}</h3>
      </div>
      <div class="user__infoEdit">
        <p>发布</p>
        <h3 class="cssa25592c5f177a3">{{ user.editSum }}</h3>
      </div>
    </div>
    <!-- 导航链接 -->
    <div class="av__Abtn">
      <div class="av__AbtnDiv {{ men.ddcolor }} {{ men.isMenu ? men.color : '' }}" *ngFor="let men of menuList;let i = index;"
           (click)="avAbtnChange(men);" >
        <i class="iconfont {{ men.icon }}"></i>
        {{ men.name }}
      </div>
      <!--<div class="av__AbtnDiv av__Abtn__dekaron av__Abtn__dekaron--isActive">
        <i class="iconfont icon-wodeyuezhan01"></i>
        挑战
      </div>
      <div class="av__AbtnDiv av__Abtn__plans av__Abtn__plans--isActive">
        <i class="iconfont icon-jihua"></i>
        计划
      </div>
      <div class="av__AbtnDiv av__Abtn__results av__Abtn__results--isActive">
        <i class="iconfont icon-price"></i>
        成果
      </div>-->
    </div>
    <div class="av_signOut cssa25592c5f177a3">
      <i class="iconfont icon-shiliangzhinengduixiang4"></i>
      Sign Out
    </div>

  </div>
</div>