/*
*   create by xiaofeng.yao
*   time 2017.04.19
*   app/home-asidenav.component
*/
.homeAsideNav{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:9;
    background-color: #262336;
    .asidenav__header{
        width: 25.6em;
        color:#fff;
        text-align: center;
        .av_face{
            $face-width:8em;

            display:inline-block;
            width:$face-width;
            height:$face-width;
            border-radius:50%;
            overflow:hidden;
            box-shadow: 0 0 0.2em 0.2em #fff;
            margin: 33% 0 4% 0;
            img{
                width:100%;
                height:100%;    
            }
        }
        h3{
            color:#c4cbe6;
        }
        .user__info{
            width:100%;
            color:#c4cbe6;
            font-size:0;
            div{
                display:inline-table;
                width:30%;
                p{
                    font-size:1rem;
                    color:#696f8d;
                    margin:0.7em 0 0.41em 0;
                }
                h3{
                    font-size: 3rem;
                }
            }
            .user__infoJoin{
                margin-left:20%;
            }
            .user__infoEdit{
                margin-right:20%;
            }
        }
        .av__Abtn{
            margin-top:1%;
            width:100%;
            .av__AbtnDiv{
                $av-height:5.33rem;

                width:100%;
                padding: 0.5rem 0 0.3rem 0;
                font-size:1.6rem;
                text-align:left;
                padding-left:2em;
                color:#edeeed;
                border-top:1px solid #393c66;
                i{
                    font-size: 2.5rem;
                    vertical-align: middle;
                    margin-right:1rem;
                }
                &:before{
                    content:'';
                    width:0.4em;
                    height:100%;
                    position:absolute;
                    top:0;
                    left:0;
                }
                &:last-child{
                    border-bottom:1px solid #393c66;
                }
            }
            .av__Abtn__dekaron{
                position:relative;
                i{
                    color:#aa7bd7;
                }
            }
            .av__Abtn__dekaron--isActive{
                background-color:#1e1c32;
                &:before{
                    background-color:#aa7bd7;
                }
            }
            .av__Abtn__plans{
                position:relative;
                i{
                    color:#49bdcf;
                }
            }
            .av__Abtn__plans--isActive{
                background-color:#1e1c32;
                &:before{
                    background-color:#49bdcf;
                }
            }
            .av__Abtn__results{
                position:relative;
                i{
                    color:#a4d371;
                }
            }
            .av__Abtn__results--isActive{
                background-color:#1e1c32;
                &:before{
                    background-color:#a4d371;
                }
            }
        }
        .av_signOut{
            width: 100%;
            height: 10rem;
            padding-top: 5rem;
            position: relative;
            z-index: 11;
            font-size: 1rem;
            text-align: left;
            padding-left: 3rem;
            i{
                font-size: 2em;
                margin-right:0.5em;
            }
        }
    }
}