<div class="Personal__cxis">
  <!--<div class="Personal__cxis__Mask" style="background:url('src/images/cxis.jpeg')no-repeat;background-size:cover;filter: blur(10px);"></div>-->
  <div class="Personal__cxis__content">
    <!-- [ngStyle]="{'background-color':'rgba(' + item.color + ',0.4)'}" -->
    <div class="Personal__cxisPanel" *ngFor="let item of personalCxis['listData'],let i = index;">
      <div class="Personal__cxisMask" [ngStyle]="{'background':'url(src/images/' + item.images + '.png)'}"></div>
      <div class="Personal__cxisli" [ngStyle]="{'background-color':'rgba(' + item.color + ',0.4)'}">
        <h3>{{ item.beginDate }}</h3>
        <h5>{{ item.name }}</h5>
        <p>{{ item.target }}</p>
      </div>
      <div class="Personal__soon">
        <i class="iconfont icon-dizhiguodu"></i>
      </div>
    </div>
  </div>
</div>