/*
*   create by xiaofeng.yao
*   time 2017.4.20
*   details.html
*/
.LDetails--mask{
    width:100%;
    height:100%;
    filter: blur(40px); 
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.rankhide{
    display:none;
}
.LDetails{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    .LDetails__header{
        height: 4.4rem;
        line-height:4.4rem;
        padding-left:1rem;
        background-color: #262336;
        position: relative;
        z-index: 9;
        i{
            font-size: 2rem;
            color: #fff;
            position: relative;
            z-index:2;
        }
        span{
            display:inline-block;
            width:100%;
            position: absolute;
            top:0;right:0;bottom:0;left:0;
            margin:auto;
            z-index:1;
            text-align: center;
            color:#fff;
            overflow:hidden;
            font-size:1.6rem;
        }
    }
    .LDetails__task{
        .LDetails__taskName{
            $Name-width:12rem;

            width:100%;
            height: 20rem;
            text-align: center;
            position:relative;
            .task__mask{
                width:100%;
                height:100%;
                position:absolute;
                top:0;
                left:0;
                z-index:1;
            }
            .task__name{
                display:inline-block;
                font-size:2rem;
                //width:$Name-width;
                //height:$Name-width;
                //border-radius:50%;
                color:#fff;
                //box-shadow:0 0 0.5rem 0.5rem #eee;
                position:absolute;
                top:0;
                bottom:0;
                left: 0;
                right: 0;
                margin:auto;
                z-index:2;
                //animation:taskname 0.7s;
                display: flex;
                align-items: center;
                justify-content: center;
                //overflow:hidden;
                text-align: center;
                i{
                    font-size: 6rem;
                    color: #ff7773;
                    position:absolute;
                    top:0.3rem;
                    left:1.3rem;
                }
                p{
                    margin:0;
                    font-size:1.8rem;
                    span{
                        font-size: 7rem;
                        //font-family: fantasy;
                        position: relative;
                        top:0.5rem;
                    }
                }
            }
            @keyframes taskname{
                0%{
                    box-shadow:0 0 0rem 0rem #000;
                    border-radius:0;
                    width:100%;
                    height:100%;
                    line-height:100%;
                }
                100%{
                    box-shadow:0 0 0.5rem 0.5rem #eee;
                    width:$Name-width;
                    height:$Name-width;
                    border-radius:50%;
                }
            }
        }
    }
    .LDetails__content{
        width:100%;
        padding-top: 1em;
        .nav-tabs{
            .nav-item{
                width:25%;
            }
        }
    }
    .LDetails__join{
        width:100%;
        position: fixed;
        bottom:0.6rem;
        text-align: center;
        a{
            display:inline-block;
            border:1px solid #262336;
            padding: 0.1rem 8rem;
            color: #262336;
            font-size: 1.2rem;
            border-radius: 5px;
            i{
                font-size: 2.2rem;
                vertical-align: sub;
                color: #262336;
                margin-right: 0.5rem;
            }
        }
        
    }
}