<!-- list detail msk -->
<!--<div class="LDetails--mask" style="background:url('src/images/1.png') no-repeat;background-size:cover;"></div>-->
<!-- list detail -->
<div class="LDetails">
  <div class="LDetails__header">
    <!-- 返回首页 -->
    <i class="iconfont icon-shiliangzhinengduixiang4" [routerLink]="['/home']"></i>
    <span>{{ activity.name }}</span>
  </div>

  <!-- 任务详情，图片和任务名 -->
  <div class="LDetails__task">
    <div class="LDetails__taskName">
      <div class="task__mask" [ngStyle]="{'background':'url(src/images/' + activity.images + '.png)no-repeat center center','filter':'blur(4px)'}"></div>
      <!--<div class="task__name" [ngStyle]="{'background-color':'rgba(' + activity.color + ',0.6)'}">-->
      <div class="task__name">
        <i class="iconfont icon-zongrenqi" [ngStyle]="{'color':'rgba(' + activity.color + ',1)'}"></i>
        <p class="cssa25592c5f177a3"><span>{{ activity.sum }}</span> {{ activity.count }}</p>
      </div>
    </div>
  </div>

  <!-- 任务详情，任务，规则，动态，排行 tab -->
  <div class="LDetails__content">
    <ngb-tabset justify="center">
      <ngb-tab>
        <template ngbTabTitle>
          <b style="padding: 0.8rem;color: #262336;font-size: 1.2rem;">任务</b></template>
        <template ngbTabContent>
          <div class="LDetails__content__div LDetails__content__target">
            <p>{{ activity.target }}</p>
          </div>
        </template>
      </ngb-tab>
      <ngb-tab>
        <template ngbTabTitle><b style="padding: 0.8rem;color: #262336;font-size: 1.2rem;">规则</b></template>
        <template ngbTabContent>
          <div class="LDetails__content__div LDetails__content__rule">
            <p *ngFor="let item of activity.rule,let i = index;">
              {{ i+1 }}.{{ item }}
            </p>
          </div>
        </template>
      </ngb-tab>
      <ngb-tab>
        <template ngbTabTitle><b style="padding: 0.8rem;color: #262336;font-size: 1.2rem;">动态</b></template>
        <template ngbTabContent>
          <div class="LDetails__content__div LDetails__content__dynamic">
            <p *ngFor="let dongt of activity.dynamic;let i = index;">
              <span>{{ dongt.date }}</span>
              <b>{{ dongt.name }}</b>
              <span>{{ dongt.dynamic }}</span>
            </p>
          </div>
        </template>
      </ngb-tab>
      <!-- 任务类型可以有排行，活动类型可以考虑没有排行 -->
      <ngb-tab>
        <template ngbTabTitle><b style="padding: 0.8rem;color: #262336;font-size: 1.2rem;">排行</b></template>
        <template ngbTabContent>
          <div class="LDetails__content__div">
            <p *ngFor="let rank of activity.Ranking;let i = index;">
              <i class="iconfont" [ngClass]="{ 'icon-icon-test':i==0,'icon-icon-test1':i==1,'icon-icon-test2':i==2 }"></i>
              <!-- 前三用图标 -->
              <i [ngClass]="{ 'rankhide':i==0||i==1||i==2}">{{ i+1 }}</i>
              <b>{{ rank.name }}</b>
              <span>{{ rank.sum }}{{ activity.count }}</span>
            </p>  
          </div>
        </template>
      </ngb-tab>
    </ngb-tabset>
  </div>

  <!-- 加入挑战 -->
  <div class="LDetails__join" (click)="joinTaskFun(activity)" *ngIf="!activity['changeBtn']">
    <a><i class="iconfont icon-jiaru"></i>加入挑战</a>
  </div>
  <!-- 发布动态 保存动态 -->
  <div class="LDetails__join" [ngClass]="{ 'LDetails__join--isActive':activity['changeSubmitBtn'] }" (click)="ReleaseDynamic()" *ngIf="activity['changeBtn']">
    <!-- 发布动态 -->
    <a *ngIf="!activity['changeSubmitBtn']"><i class="iconfont icon-fabu"></i>发布动态</a>
    <!-- 保存动态 -->
    <a *ngIf="activity['changeSubmitBtn']"><i class="iconfont icon-reportsum"></i>保存动态</a>
  </div>

  <!-- 发布动态弹窗 -->
  <div class="LDetails__NewMask" [ngClass]="{ 'LDetails__NewMask--show':activity['changeSubmitBtn'] }">
    <div class="LDetails__NewMask__form">
      <h2>你今天完成了什么？</h2>
      <input type="number" [(ngModel)]="activity['newDynamic']"/><span>{{ activity.count }}</span>
    </div>
  </div>

</div>