/*
*   create by xiaofeng.yao
*   time 2017.05.09
*   user-edit.component.html
*/
.userEdit{
    $userEdit-bg:#fff;
    $userEdit-color:#262336;

    .userEdit__header{
        width: 100%;
        padding: 0 15px;
        background-color: $userEdit-bg;
        height: 4.4em;
        text-align: center;
        color: $userEdit-color;
        border-bottom:1px solid $userEdit-color;
        line-height: 4.4em;
        padding:0 15px;
        position: relative;
        z-index: 10;
        i{
            font-size: 2rem;
        }
        .userEdit__back{
            float: left;
        }
        .userEdit__edit{
            float: right;
            font-size:1.4rem;
            color:$userEdit-color;
        }
    }

    .userEdit__content{
        padding:2rem;
        form{
            label{
                font-size:1.4rem;
            }
            input{
                font-size:1.4rem;
                border:none;
                background-color: #b0b0b0;
            }
            /*input::-webkit-input-placeholder{ 
                color:#fff !important; 
            } */
            textarea{
                font-size:1.4rem;
                border:none;
                background-color: #b0b0b0;
            }
            .text-muted{
                color:#d8d8d8 !important;
            }
        }
    }

}