<!-- app/user-edit/user-edit.component.html -->
<div class="userEdit">
  <div class="userEdit__header">
    <!-- 返回首页 -->
    <i class="iconfont icon-shiliangzhinengduixiang4 userEdit__back" [routerLink]="['/home']"></i>
  </div>

  <!-- 发布任务：先走弹窗流程，之后如果点击的是确定发布，则在页面显示 -->
  <div class="userEdit__content">
    <div class="userEdit__mask"></div>
    <!-- 创建按钮 -->
    <div class="userEdit__createBtn" (click)="userEdit['zIndex'] = 7" *ngIf="userEdit['zIndex'] == 8">
      创建任务
    </div>
    <!-- 分类 -->
    <div class="userEdit__Rcls userEdit__public" [ngClass]="{'userEdit__Rcls--active': userEdit['zIndex'] == 7 }">
      <h3>分类</h3>
      <select [(ngModel)]="SubmttObj['cls']" class="userEdit__Rcls__select">
        <option *ngFor="let rct of userEdit['cls']"
                  [value]="rct['name']">{{ rct['name'] }}</option>
      </select>
      <p (click)="reduceZIndexFun(SubmttObj['cls'])">
        下一步
      </p>
    </div>
    <!-- 任务名 -->
    <div class="userEdit__Rname userEdit__public" [ngClass]="{'userEdit__Rname--active': userEdit['zIndex'] == 6 }">
      <h3>任务名</h3>
      <input type="text" name="Rname" [(ngModel)]="SubmttObj['Rname']" />
      <p (click)="reduceZIndexFun(SubmttObj['Rname'])">
        下一步
      </p>
    </div>
    <!-- 任务介绍 -->
    <div class="userEdit__Rdetail userEdit__public"  [ngClass]="{'userEdit__Rdetail--active': userEdit['zIndex'] == 5 }">
      <h3>任务介绍</h3>
      <textarea name="Rdetail" cols="30" rows="3" [(ngModel)]="SubmttObj['Rdetail']"></textarea>
      <p (click)="reduceZIndexFun(SubmttObj['Rdetail'])">
        下一步
      </p>
    </div>
    <!-- 统计方法 -->
    <div class="userEdit__Rcount userEdit__public" [ngClass]="{'userEdit__Rcount--active': userEdit['zIndex'] == 4 }">
      <h3>统计方法</h3>
      <select [(ngModel)]="SubmttObj['Rcount']" class="userEdit__Rcount__select">
        <option *ngFor="let rct of userEdit['Rcount']"
                  [value]="rct['name']">{{ rct['name'] }}</option>
      </select>
      <p (click)="reduceZIndexFun(SubmttObj['Rcount'])">
        下一步
      </p>
    </div>
    <!-- 活动时间 -->
    <div class="userEdit__Rdate userEdit__public" [ngClass]="{'userEdit__Rdate--active': userEdit['zIndex'] == 3 }">
      <h3>活动时间</h3>
      <div class="userEdit__Rdate__date">
        <a>2017-05-27 &nbsp; - &nbsp;</a><input type="date" class="Rdate__dateInput" [(ngModel)]="SubmttObj['Rdate']" />
      </div>
      <p (click)="reduceZIndexFun(SubmttObj['Rdate'])">
        下一步
      </p>
    </div>
    <!-- 活动规则 -->
    <div class="userEdit__Rrule userEdit__public" [ngClass]="{'userEdit__Rrule--active': userEdit['zIndex'] == 2 }">
      <h3>活动规则</h3>
      <textarea name="Rrule" cols="30" rows="5" [(ngModel)]="SubmttObj['Rrule']"></textarea>
      <p (click)="reduceZIndexFun(SubmttObj['Rrule'])">
        下一步
      </p>
      <span> * 每一条规则以逗号(中文逗号)结尾</span>
    </div>
    <!-- 最后的信息确认弹窗，里面有用户所填的所有信息，用户可以选择 确认发布 或者选择 取消 -->
    <div class="userEdit__Rsubmit userEdit__public" [ngClass]="{'userEdit__Rsubmit--active': userEdit['zIndex'] == 1 }">
      <div>
        <div class="userEdit__Rsubmit__li">
          <label>分类&nbsp;:</label> <span>{{ SubmttObj['cls'] }}</span> 
        </div>
        <div class="userEdit__Rsubmit__li">
          <label>任务名&nbsp;:</label> <span style="max-height:3rem;overflow-y:scroll;">{{ SubmttObj['Rname'] }}</span> 
        </div>
        <div class="userEdit__Rsubmit__li">
          <label>任务介绍&nbsp;:</label> <span style="max-height:6rem;overflow-y:scroll;">{{ SubmttObj['Rdetail'] }}</span> 
        </div>
        <div class="userEdit__Rsubmit__li">
          <label>统计方法&nbsp;:</label> <span>{{ SubmttObj['Rcount'] }}</span> 
        </div>
        <div class="userEdit__Rsubmit__li">
          <label>活动时间&nbsp;:</label> <span>{{ SubmttObj['Rdate'] }}</span> 
        </div>
        <div class="userEdit__Rsubmit__li">
          <label>幸运色&nbsp;:</label> 
          <span>
            <a (click)="changeSubmttObjColor()" [ngStyle]="{'background-color':'rgb(' + SubmttObj['Rcolor'] + ')'}"></a>
          </span> 
        </div>
        <div class="userEdit__Rsubmit__li">
          <label>活动规则&nbsp;:</label> <span class="userEdit__Rsubmit__li__Rrule">{{ SubmttObj['Rrule'] }}</span> 
        </div>
      </div>
      <div class="userEdit__Rsubmit__btn">
        <input type="button" value="确认发布" class="userEdit__Rsubmit__submit" (click)="submitCreateTask()" />
      </div>
      <div class="userEdit__Rsubmit__btn">  
        <input type="button" value="取消" class="userEdit__Rsubmit__close" (click)="userEdit['zIndex']=8;" />
      </div>
    </div>
  </div>


  <!-- 表单 class="userEdit__content" -->
  <div style="display:none;">
    <form>
      <!-- 任务名 -->
      <div class="form-group">
        <!--<label for="exampleInputEmail1">任务名</label>-->
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="输入任务名" />
        <small class="form-text text-muted">最好简短点，6个字左右</small>
      </div>
      <!-- 任务介绍 -->
      <div class="form-group">
        <!--<label for="exampleTextarea">任务介绍</label>-->
        <textarea class="form-control" placeholder="输入任务介绍" rows="3"></textarea>
        <small class="form-text text-muted">最好不要超过20个字，简单好记</small>
      </div>
      <!-- 统计方法 -->
      <div class="form-group">
        <!--<label for="exampleTextarea">统计方法</label>-->
        <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="输入统计方法">
        <small id="emailHelp" class="form-text text-muted">如：公里，总价，总人数等等......</small>   
        <small id="emailHelp" class="form-text text-muted">如：(米)公里，(RMB)总价，(位)总人数等等......</small>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              单位(米,RMB,个...)
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item">米</a>
              <a class="dropdown-item">RMB</a>
              <a class="dropdown-item">个</a>
            </div>
          </div>
        </div>
      </div>
      <!-- 开始时间 获取当前时间 -->
      <div class="form-group">
        <label for="exampleInputPassword1">活动开始时间</label><span>2017/05/09</span>
        <!--<h4 style="padding-left:1rem;"><span>活动开始时间:</span></h4>-->
      </div>
      <!-- 结束时间 -->
      <div class="form-group">
        <label for="exampleInputPassword1">活动结束时间</label>
        <input type="date" class="form-control" placeholder="2017/05/09">
      </div>
      <!-- 任务规则 -->
      <div class="form-group">
        <!--<label for="exampleTextarea">任务规则</label>-->
        <textarea class="form-control" placeholder="输入任务规则" rows="7"></textarea>
        <small class="form-text text-muted">最好不要超过120个字，简单好记</small>
      </div>
    </form>
  </div>

</div>

<!-- 弹窗组件 -->
<app-alert [(Girl)]="Girl"></app-alert>
