/*
*   create by xiaofeng.yao
*   time 2017.04.21
*   personal.html
*/
.Personal{
    $personal_text_Color:#262336;
    $personal_text_bg:#fff;
    .Personal__header{
        width: 100%;
        padding: 0 15px;
        height: 4.4em;
        text-align: center;
        color: $personal_text_Color;
        line-height: 4.4em;
        padding:0 15px;
        position: relative;
        z-index: 10;
        i{
            font-size: 2rem;
        }
        .Personal__back{
            float: left;
        }
        .Personal__edit{
            float: right;
        }
    }
    .Personal__content{
        width:100%;
        .Personal__CFName{
            width:100%;
            padding-top: 2rem;
            height: 16rem;
            text-align:center;
            position:relative;
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            transition:height 0.7s linear;
            .Personal__CFName__mask{
                width:100%;
                height:100%;
                position:absolute;
                top:0;
                left:0;
                z-index:1;
                -webkit-transform: translate3d(0,0,0);
                -moz-transform: translate3d(0,0,0);
                -ms-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                transition:height 0.7s linear;
            }
            .Personal__CFName__join{
                width: 7rem;
                text-align: center;
                position:absolute;
                top:4rem;
                left:2rem;
                z-index:2;
                letter-spacing: 3px;
                p{
                    font-size: 1.2rem;
                    margin:0;
                    color: $personal_text_Color;
                }
                h5{
                    font-size: 3rem;
                    color: $personal_text_Color;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .Personal__CFName__edit{
                width: 7rem;
                text-align: center;
                position:absolute;
                top:4rem;
                right:2rem;
                z-index:2;
                letter-spacing: 3px;
                p{
                    font-size: 1.2rem;
                    margin:0;
                    color: $personal_text_Color;
                }
                h5{
                    font-size: 3rem;
                    color: $personal_text_Color;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .Personal__CFName__face{
                $faceWidth:8rem;

                display:inline-block;
                width:$faceWidth;
                height:$faceWidth;
                border-radius:50%;
                //box-shadow: 0 0 16.5rem 3.5rem $personal_text_Color;
                overflow:hidden;
                position:relative;
                z-index:2;
                -webkit-transform: translate3d(0,0,0);
                -moz-transform: translate3d(0,0,0);
                -ms-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
                transition:height 0.7s linear;
                img{
                    width:100%;
                    height:100%;
                }
            }
            h3{
                font-size: 2.4rem;
                font-weight: 900;
                letter-spacing: 2px;
                position: relative;
                z-index:2;
                color: $personal_text_Color;
                transition:0.7s;
            }
        }
        .Personal__CFName--scroll{
            height:8rem;
            .Personal__CFName__join{
                z-index: 9;
                top: 8rem;
                left: 33%;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                background-color: $personal_text_Color;
                p{
                    display: none;
                }
                h5{
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color:#fff;
                }
            }
            .Personal__CFName__edit{
                z-index: 9;
                top: 8rem;
                left: 56%;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                background-color: $personal_text_Color;
                p{
                    display: none;
                }
                h5{
                    font-size: 1.25rem;
                    line-height: 1.5rem;
                    color:#fff;
                }
            }
            .Personal__CFName__face{
                position: absolute;
                left:0;
                right:0;
                margin:auto;
                box-shadow: none;
                height:0;
            }
            h3{
                font-size: 2.4rem;
                font-weight: 900;
                letter-spacing: 2px;
                position: relative;
                z-index:2;
                color: $personal_text_Color;
                transition:0.7s;
            }
        }
        .Personal__ctab{
            position: relative;
            z-index: 8;
            width:100%;

            .ctab_title{
                width: 100%;
                height: 3rem;
                line-height: 3rem;
                text-align: center;
                font-size: 0;
                border-bottom: 1px solid #ddd;
                div{
                    font-size:1.3rem;
                    width:7.4rem;
                    display:inline-block;
                }
                .ctab--isActive{
                    border-top: 2px solid $personal_text_Color;
                    /*border-left: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    border-bottom: 4px solid #fff;*/
                    position: relative;
                    bottom: 3px;
                }
            }

        }
    }
}