<!-- app/personal/personal.html -->
<div class="Personal">
  <div class="Personal__header">
    <!-- 返回首页 -->
    <i class="iconfont icon-shiliangzhinengduixiang4 Personal__back" [routerLink]="['/home']"></i>
    <!-- 编辑页跳转 -->
    <i class="iconfont icon-fabu1 Personal__edit" [routerLink]="['/UserEdit']"></i>
  </div>

  <div class="Personal__content">
    <!-- face name -->
    <div class="Personal__CFName" [ngClass]="{'Personal__CFName--scroll':headerCls}">
      <!-- cfname mask -->
      <div class="Personal__CFName__mask" [ngStyle]="{'background':'url(src/images/membercenterbg.jpg)no-repeat center center','filter':'blur(20px)'}"></div>
      <!-- join -->
      <div class="Personal__CFName__join">
        <p>参加</p>
        <h5 class="cssa25592c5f177a3">{{ User.joinSum }}</h5>
      </div>
      <!-- face -->
      <div class="Personal__CFName__face">
        <img [src]="User.img" alt="face"/>
      </div>
      <!-- edit -->
      <div class="Personal__CFName__edit">
        <p>发布</p>
        <h5 class="cssa25592c5f177a3">{{ User.editSum }}</h5>
      </div>
      <h3 class="Personal__CFName__n cssa25592c5f177a3">{{ User.name }}</h3>
    </div>

    <!-- 个人中心， 1.参加的活动或挑战  2.过期的活动  3.加入活动时间轴  tab -->
    <!-- 获取的任务列表要根据当前时间去过滤一次，区分任务是否已经过期 -->
    <div class="Personal__ctab">
      <!-- tab title -->
      <div class="ctab_title">
        <div class="ctab_title1" [ngClass]="{'ctab--isActive':tab.isActive}" *ngFor="let tab of perTab;let i = index;" (click)="tabChange(tab);">
          {{ tab.name }}
        </div>
      </div>

      <!-- tab content -->
      <div class="ctab_content" (scroll)="ctabScrollFun($event)">
        <!-- 我加入 -->
        <div class="ctab_title1__c" *ngIf="tabNumber==0">
          <app-personal-join></app-personal-join>
        </div>
        <!-- 我发布 -->
        <div class="ctab_title2__c" *ngIf="tabNumber==1">
          <app-personal-release></app-personal-release>
        </div>
        <!-- 时间轴 -->
        <div class="ctab_title3__c" *ngIf="tabNumber==2" style="padding: 1rem;">
          <app-personal-cxis></app-personal-cxis>
        </div>
      </div>
  </div>
</div>  

