<!-- src/home/home.component.html -->
<div class="home" [ngClass]="{'home--isActive':mybadgirl.isMenu}">
  <div class="homeSection">
    <!-- home header nav -->
    <div class="home__headerNav">
      <i  class="iconfont headerNav__menu" [ngClass]="{'icon-menu':!mybadgirl.isMenu,'icon-shiliangzhinengduixiang4':mybadgirl.isMenu}" (click)="showHomeMenu();"></i>
      <h3 class="cssa25592c5f177a3">All<i class="iconfont icon-xia"></i></h3>
      <i class="iconfont icon-user headerNav__user" [routerLink]="['/personal']"></i>
    </div>
    <!-- home-list -->
    <app-home-list></app-home-list>
  </div>
</div>
<!-- home aside nav -->
<app-home-asidenav></app-home-asidenav>