/*
*   create by xiaofeng.yao
*   time 2017.04.19
*   app/home.component
*/
.home--isActive{
    animation:homeAnima 0.7s;
    // transform:perspective(45em) translateX(21em) rotateY(20deg) scale(0.86);
    transform:translateX(24em) scale(0.93);
    @keyframes homeAnima{
        0%  {transform:translateX(0) scale(1);}
        40% {transform:translateX(12em) scale(2);}
        100%{transform:translateX(24em) scale(0.93);}
    }
}

.home{
    width:100%;
    position:relative;
    top:0;
    left:0;
    z-index:10;
    transition:0.7s;
    outline: 1px solid #fff;

    .homeSection{
        $home-bg:#262336;

        width:100%;
        height:auto;
        padding:0;
        background-color:$home-bg;
        
        .home__headerNav{
            $headerNav-height:4.4em;

            width: 100%;
            padding:0 15px;
            background-color:$home-bg;
            height:$headerNav-height;
            text-align:center;
            color:#fff;
            line-height:$headerNav-height;
            .headerNav__menu{
                display:inline-block;
                float:left;
                font-size: 2rem;
                margin-top: 2px;
            }
            h3{
                display:inline-block;
                line-height:2.4em;
                font-size:2em;
                i{
                    font-size: 1em;
                }
            }
            .headerNav__user{
                display:inline-block;
                float:right;
                font-size: 2.2rem;
            }
        }
        .home__headerCls{
            display:inline-block;
            width:100%;
            opacity:1;
            position:relative;
            z-index:10;
            background-color: #fff;
            text-align:center;
            padding:0.5rem;
            transition:0.7s;
            .home__headerCls__li{
                display:inline-block;
                color: #262336;
                padding:0.4rem 2rem;
                margin:0 0.2rem;
                border-radius: 0.6rem;
                border:1px solid #262336;
                background-color:#fff;
                font-size: 1.5rem;
            }
            .home__headerCls__li--isActive{
                background-color:#262336;
                color: #fff;
            }
        }
        .home__headerCls--show{
            display:inherit;
            padding:0;
            height:0;
            opacity:0;
        }
    }

}
