/*
*   create by xiaofeng.yao
*   time 2017.04.19
*   app/home.component
*/
.home--isActive{
    transform:perspective(45em) translateX(21em) rotateY(20deg) scale(0.86);
}

.home{
    width:100%;
    position:relative;
    top:0;
    left:0;
    z-index:10;
    transition:0.7s;

    .homeSection{
        $home-bg:#4072af;
        width:100%;
        height:auto;
        padding:0;
        background-color:$home-bg;
        .home__headerNav{
            $headerNav-height:4.4em;

            width: 100%;
            padding:0 15px;
            background-color:$home-bg;
            height:$headerNav-height;
            text-align:center;
            color:#fff;
            line-height:$headerNav-height;
            .headerNav__menu{
                display:inline-block;
                float:left;
                font-size: 2rem;
                margin-top: 2px;
            }
            h3{
                display:inline-block;
                line-height:2.4em;
                font-size:2em;
                i{
                    font-size: 1em;
                }
            }
            .headerNav__user{
                display:inline-block;
                float:right;
                font-size: 2.2rem;
            }
        }
    }

}
