<!-- list detail msk -->
<!--<div class="LDetails--mask" style="background:url('src/images/1.png') no-repeat;background-size:cover;"></div>-->
<!-- list detail -->
<div class="LDetails">
  <div class="LDetails__header">
    <!-- 返回首页 -->
    <i class="iconfont icon-shiliangzhinengduixiang4" [routerLink]="['/home']"></i>
  </div>

  <!-- 任务详情，图片和任务名 -->
  <div class="LDetails__task">
    <div class="LDetails__taskName">
      <div class="task__mask" [ngStyle]="{'background':'url(' + activity.images + ')no-repeat center center','filter':'blur(10px)'}"></div>
      <div class="task__name" [ngStyle]="{'background-color':'rgba(' + activity.color + ',0.6)'}">
        <p>{{ activity.name }}</p>
      </div>
    </div>
  </div>

  <!-- 任务详情，任务，规则，动态，排行 tab -->
  <div class="LDetails__content">
    <ngb-tabset justify="center">
      <ngb-tab>
        <template ngbTabTitle>
          <b style="padding: 0.8rem;color: #262336;font-size: 1.2rem;">任务</b></template>
        <template ngbTabContent>
          {{ activity.target }}
        </template>
      </ngb-tab>
      <ngb-tab>
        <template ngbTabTitle><b style="padding: 0.8rem;color: #262336;font-size: 1.2rem;">规则</b></template>
        <template ngbTabContent>
          <p *ngFor="let ren of activity.rule">
            {{ ren }}
          </p>
        </template>
      </ngb-tab>
      <ngb-tab>
        <template ngbTabTitle><b style="padding: 0.8rem;color: #262336;font-size: 1.2rem;">动态</b></template>
        <template ngbTabContent>
          <p *ngFor="let dongt of activity.list;let i = index;">
            <i>{{ i+1 }}</i>
            <span>{{ dongt.date }}</span>
            <b>{{ dongt.name }}</b>
            <span>{{ dongt.dynamic }}</span>
          </p>
        </template>
      </ngb-tab>
      <!-- 任务类型可以有排行，活动类型可以考虑没有排行 -->
      <ngb-tab>
        <template ngbTabTitle><b style="padding: 0.8rem;color: #262336;font-size: 1.2rem;">排行</b></template>
        <template ngbTabContent>
          <p *ngFor="let rank of activity.Ranking;let i = index;">
            <i class="iconfont" [ngClass]="{ 'icon-icon-test':i==0,'icon-icon-test1':i==1,'icon-icon-test2':i==2 }"></i>
            <!-- 前三用图标 -->
            <i [ngClass]="{ 'rankhide':i==0||i==1||i==2}">{{ i+1 }}</i>
            <b>{{ rank.name }}</b>
            <span>{{ rank.sum }}</span>
          </p>
        </template>
      </ngb-tab>
      <!--<ngb-tab title="Disabled" [disabled]="true">
        <template ngbTabContent>
          <p>Raw.</p>
        </template>
      </ngb-tab>-->
    </ngb-tabset>
  </div>

  <!-- 加入挑战 -->
  <div class="LDetails__join">
    <a><i class="iconfont icon-fabu"></i>加入挑战</a>
  </div>
</div>