/*
*   create by xiaofeng.yao
*   time 2017.05.04
*   personal-release.html
*/
.LDetails__list{
    padding:1rem;
    .LDetails__li{
        width:100%;
        height:18rem;
        margin-bottom:1rem;
        &:last-child{
            margin-bottom:0;
        }
        position:relative;
        overflow: hidden;
        .LDetails__liMask{
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            z-index:1;
            img{
                width:100%;
                height:100%;
                filter:blur(8px);
            }
        }
        .LDetails__liContent{
            padding:1rem;
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            z-index:2;
            color:#fff;
            background-color: rgba(64, 114, 175,0.3);
            .LDetails__liContent__h{
                margin-top:1rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                width: 80%;
                height: 4.7rem;
                font-size: 2.2rem; 
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .LDetails__liContent__target{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-size: 1.2rem;
                height: 3.5rem;  
                overflow: hidden;
                text-overflow: ellipsis;
                margin:0;
            }
            .LDetails__liContent__user{
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                font-size: 1.1rem;
                color: #fff;
                overflow: hidden;
                text-overflow: ellipsis;
                i{
                    font-size: 1.5rem;
                    vertical-align: middle;
                    margin-right: 0.3rem;
                }
            }
            .LDetails__liContent__btn{
                .liContent__btn__see{
                    padding: 0.6rem 1.8rem;
                    border:1px solid #fff;
                    color: #fff;
                    border-radius: 25px;
                    font-size: 1.4rem;
                    i{
                        font-size: 1.6rem;
                        vertical-align: middle;
                        margin-right: 0.4rem;
                    }
                }
                .liContent__btn__giveup{
                    padding: 0.6rem 1.8rem;
                    background-color: #999;
                    color: #fff;
                    font-size: 1.4rem;
                    margin-left: 4rem;
                    i{
                        font-size: 1.6rem;
                        vertical-align: top;
                        margin-right: 0.4rem;
                    }
                }
            }
            .LDetails__liContent__icon{
                $icon-width:4rem;

                width: $icon-width;
                height: $icon-width;
                border-radius: 50%;
                text-align: center;
                line-height: $icon-width;
                position: absolute;
                top: 1rem;
                right: 1rem;
                background-color: #fff;
                color: #999;
                font-size: 2rem;
            }
        }
    }
}