/*
*   create by xiaofeng.yao
*   time 2017.06.01
*   personal-release.html
*/
.LDetails__list{
    padding:0.6rem;
    .LDetails__li{
        width:100%;
        height:18rem;
        margin-bottom:0.6rem;
        border-radius: 5px;
        border: 1px solid #efefef;
        &:last-child{
            margin-bottom:0;
        }
        position:relative;
        overflow: hidden;
        .LDetails__liMask{
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            z-index:1;
            img{
                width:100%;
                height:100%;
                filter:blur(8px);
            }
        }
        .LDetails__liContent{
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            z-index:2;
            color:#fff;
            .LDetails__liContent__h{
                text-indent: 2rem;
                margin-top:2rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                width: 80%;
                height: 4.7rem;
                font-size: 2.2rem; 
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .LDetails__liContent__target{
                position: absolute;
                bottom: 5rem;
                background: rgba(64, 114, 175, 1);
                width: 100%;
                text-indent: 2rem;
                padding: 0.2rem;
                display: flex;
                align-items: center;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                font-size: 1.2rem;
                height: 5rem;  
                overflow: hidden;
                text-overflow: ellipsis;
                margin:0;
            }
            .LDetails__liContent__user{
                margin: 0;
                width: 100%;
                position: absolute;
                bottom: 0;
                background: #fff;
                color: #676464;
                height: 5rem;
                text-indent: 2rem;
                display: flex;
                align-items: center;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                font-size: 1.4rem;
                overflow: hidden;
                text-overflow: ellipsis;
                img{
                    width:2rem;
                    height:2rem;
                    border-radius:50%;
                    margin: 0 0.3rem 0 2rem;
                }
                .LDetails__liContent__btn{
                    position:absolute;
                    top:0;
                    right:0;
                    div{
                        display:inline-block;
                        width: 5rem;
                        height: 5rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        //background-color:#999;
                        color: #999;
                    }
                    .liContent__btn__see{
                        position: absolute;
                        right: 6rem;
                        border-left: 1px solid #efefef;
                        i{
                            font-size: 2.5rem;
                        }
                    }
                    .liContent__btn__giveup{
                        position: absolute;
                        right: 2rem;
                        i{
                            font-size:1.8rem;
                        }
                    }
                }
            }
            .LDetails__liContent__icon{
                $icon-width:4rem;

                width: $icon-width;
                height: $icon-width;
                border-radius: 50%;
                text-align: center;
                line-height: $icon-width - 0.2;
                position: absolute;
                top: 1rem;
                right: 1rem;
                border: 1px solid #fff;
                color: #fff;
                font-size: 2rem;
            }
        }
    }
}